/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

a {
  color: #f62459;
}
h1,
h2 {
  color: #fff;
}
pre,
code {
  font-family: "Source Code Pro", Consolas, Courier, monospace !important;
}
h2 + p,
h1 + p,
h3 + p,
h2 + ul,
h2 + img {
  margin-top: 1em;
}
h2 {
  line-height: 1.3em;
}
h3 {
  font-size: 1.6em;
}
p,
li {
  -webkit-font-smoothing: antialiased;
}
p {
  font-size: 1.5em;
}
li {
  font-size: 1.3em;
}
li li {
  font-size: 0.8em;
}
iframe {
  border: 0;
}
li.block::before {
  content: '';
}
li.block {
  text-align: center;
}
.bespoke-bullet-active {
  opacity: 1;
}
.bespoke-bullet-inactive {
  opacity: 0;
}
.all .bespoke-bullet-inactive {
  opacity: 1;
}
.bespoke-bullet {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.phaser-logo {
  background: url("../images/phaser_logo.png") center center;
  background-size: cover;
}
.phaser-logo.bespoke-backdrop-active {
  opacity: 0.2;
}
#demo-game {
  height: 600px;
}
#demo-game iframe {
  margin-top: 20px;
}
